[Unit]
Description=DMRHub
ConditionFileIsExecutable=/usr/local/bin/DMRHub
After=network.target

[Service]
User=dmrhub
Group=dmrhub
Type=simple
ExecStart=/usr/local/bin/DMRHub
EnvironmentFile=/etc/dmrhub/env
WorkingDirectory=/etc/dmrhub
Restart=on-failure
RestartSec=10
ProtectHome=on
ProtectSystem=full

[Install]
WantedBy=multi-user.target
