name: Notify

on:
  discussion:
    types: [created, reopened]
  issues:
    types: [opened, reopened]

jobs:
  notify:
    runs-on: ubuntu-24.04
    steps:
      - name: Send notification
        uses: USA-RedDragon/telegram-notification@5c9e380b10cc3af7bd3290a51c3e42485ee2b93f # v1.0.0
        with:
          bot-token: ${{ secrets.TG_BOT_TOKEN }}
          chat-id: ${{ secrets.TG_CHAT_ID }}
