name: Tests

on:
  pull_request:
  push:

jobs:
  frontend:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Use Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - run: make build-frontend

      - uses: actions/upload-artifact@v3
        with:
          name: frontend
          path: internal/http/frontend/dist
          if-no-files-found: error
          retention-days: 1

  frontend-tests:
    runs-on: ubuntu-latest
    needs: frontend
    permissions:
      contents: read

    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: "1.20"

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Use Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - run: make build-frontend

      - run: make frontend-unit-test
      - run: make frontend-e2e-test

      - uses: codecov/codecov-action@v3
        with:
          flags: frontend
          files: ./coverage/unit/lcov.info,./coverage/e2e/lcov.info
          fail_ci_if_error: true
          working-directory: internal/http/frontend

  backend-tests:
    runs-on: ubuntu-latest
    needs: frontend
    permissions:
      contents: read

    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: "1.20"

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Copy built frontend
        uses: actions/download-artifact@v3
        with:
          name: frontend
          path: internal/http/frontend/dist

      - run: make build
      - uses: Jerome1337/gofmt-action@v1.0.5
        with:
          gofmt-flags: "-l -d"

      - name: Unit tests
        run: |
          go test ./... -race
          env CGO_ENABLED=0 go test ./... -coverprofile coverage.out -covermode atomic
          go tool cover -func coverage.out
      - uses: codecov/codecov-action@v3
        with:
          flags: backend
          fail_ci_if_error: true

      - name: Quality Gate - Test coverage shall be above threshold
        env:
          TESTCOVERAGE_THRESHOLD: 80
        run: |
          echo "Quality Gate: checking test coverage is above threshold ..."
          echo "Threshold             : $TESTCOVERAGE_THRESHOLD %"
          totalCoverage=`go tool cover -func=coverage.out | grep total | grep -Eo '[0-9]+\.[0-9]+'`
          echo "Current test coverage : $totalCoverage %"
          if (( $(echo "$totalCoverage $TESTCOVERAGE_THRESHOLD" | awk '{print ($1 > $2)}') )); then
              echo "OK"
          else
              echo "Current test coverage is below threshold. Please add more unit tests or adjust threshold to a lower value."
              echo "Failed"
              exit 1
          fi
